.btn-no-radius {
    border-radius: 0px;
}

input[type='checkbox'].middle {
    vertical-align: top;
}

.div-line {
    line-height: 30px;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-full-size {
    width: 100%;
}

.border-left {
    border-left: 1px solid #e5e5e5;
}

.border-right {
    border-right: 1px solid #e5e5e5;
}

.input-no-radius {
    border-radius: 0px;
}